* {
	box-sizing: border-box;
}

html {
	height: auto;
}

body {
	height: auto;
	color: #363636;
	font-family: 'Chivo', Arial, Helvetica, sans-serif;
	margin: 0;
	padding-right: 15px;
	background-color: #e8e8e8;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.noScrolling {
	height: 100vh;
	overflow-y: hidden;
}

#root {
	width: 100%;
}

main {
	padding: 2em;
}

/* typography */

.main__title {
	color: #363636;
	text-align: center;
}

/* colours */
.colour1 {
	background-color: #736002;
}

.colour2 {
	background-color: #f0a967;
}

.colour3 {
	background-color: #e87f54;
}

.colour4 {
	background-color: #df5441;
}

/* blanking layer */
.blankingLayer {
	position: fixed;
	width: 100%;
	visibility: hidden;
	opacity: 0;

	transition-timing-function: linear;
	transition-duration: 300ms;
	transition-property: opacity;

	background-color: rgba(232, 232, 232, 0.95);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.blankingLayer.open {
	visibility: visible;
	opacity: 1;
}

/* loading layer */
.loading {
	position: fixed;
	width: 100%;
	display: none;
	background-color: rgba(20, 20, 20, 0.3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading.loading--loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading__text {
	color: #fff;
}

/* About */

.about__link {
	text-align: right;
}

.about__text {
	display: none;
}

.about__text.show {
	display: block;
}

/* playlists */

.playlists {
	display: grid;
	row-gap: 1em;
	column-gap: 1em;
	align-items: start;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.playlists.open {
	height: 100%;
}

.playlists__btn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	color: #e8e8e8;
	min-height: 230px;

	padding: 1em;
	border-radius: 10px;
	border: 2px solid #787878;

	box-shadow: #848282 3px 3px 5px;
	cursor: pointer;

	transition-duration: 200ms;
	transition-property: color, transform;
}

.playlists__btn:hover,
.playlists__btn:focus,
.playlists__btn.selected {
	color: #363636;
	box-shadow: #848282 2px 2px 5px;

	transform: scale(0.98);
}

.playlist__name {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.1;

	margin: 0.5em 0;
}

.playlist__click-instruction {
	justify-self: flex-end;
	display: none;
	justify-content: center;
	text-align: center;
}

.playlists__btn:hover .playlist__click-instruction {
	display: block;
}

.playlists__btn .playlist__description {
	font-size: 1rem;
	line-height: 1.2;
}

/* tracklist */

.tracklist {
	color: #363636;
}

.tracklist__info {
	font-size: 0.875rem;
}

.tracklist__title {
	margin: 0.5em 0;
}

.tracklist__stats {
	margin: 0.2em 0;
}

.tracklist__description {
	margin: 0.5em -10px;
	padding: 10px;

	cursor: pointer;

	border-radius: 5px;
	overflow: hidden;
}

.tracklist__description:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.showText .tracklist__description {
	background-color: rgba(255, 255, 255, 0.3);
}

.tracklist .tracklist__description {
}

.tracklist__show_description {
	font-weight: 700;
	margin: 0;
}

.tracklist__description-text {
	display: none;
	margin: 5px;
	overflow-y: auto;
}

.showText .tracklist__description-text {
	display: block;
}

.tracklist__show_description {
	text-align: right;
}

.btn.tracklist__close_btn {
	font-size: 2rem;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

.tracklist {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	visibility: hidden;

	padding: 1.5em 2em;

	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 0.5s;
	transition-property: transform;

	top: 0;
	left: 0;
	bottom: 0;
	transform: translateX(100%);
}

.tracklist.open {
	transform: translateX(0);
	visibility: visible;
}

.tracklist__tracks {
	overflow-y: auto;
}

/* trackItem */
.trackDetails {
	font-size: 1.2rem;
	margin-right: 0.5em;
}

.artistName {
	font-weight: 700;
}

.trackName {
	font-weight: 700;
	color: #f27405;
}

.albumName {
	color: #736002;
}

/* buttons */
.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #363636;
	width: 30px;
	height: 30px;
	font-size: 1rem;
	line-height: 1;
}

.btn:hover,
.btn:focus {
	background-color: #fff;
	color: #363636;
}

a.btn {
	color: #363636;
	text-decoration: none;
}

/*pagination*/
.pagination {
	display: flex;
	margin: 0.5em 0;
}

.pagination__btn {
	margin-right: 0.5em;
}

.btn:disabled {
	background-color: rgba(100, 100, 100, 0.3);
	color: rgb(20, 20, 20);
	cursor: not-allowed;
}

.btn.currentPage {
	border: #f25c05 solid 2px;
	background-color: rgba(100, 100, 100, 0.3);
	color: #fff;
}

.pagination__pagecount {
	margin: 0.5em 0;
}
